# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

GI
Test
Extension/NoiseBlur
Extension/PaniniProjection
Extension/BokehBlur
Extension/OpticalLight
Extension/SSAO
Extension/SoundSpectrum
Extension/OpticalFlares/Sun Flare Ghost Bokeh
Extension/OpticalFlares/Sun Flare Hexagonal Bokeh 2
Tools/AudiosFFT/_CommonRedist
Skybox/Gradient Sky