# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

IESLight
IESLight.pmx
PointLight/point_lighting_pcf_s0.fx
PointLight/point_lighting_pcf_s1.fx
PointLight/point_lighting_pcf_s2.fx
PointLight/point_lighting_pcf_s3.fx